<div style="position: relative;">
    <div style="float: left;">
        <a routerLink="/">
            <img src="../assets/img/logo-transparent.png" alt="Musiconomi" title="Musiconomi" style="vertical-align: bottom; height: 50px;">
        </a>
    </div>
    <nav style="float: right; padding-right: 5px;">
        <button class="btn btn-warning" routerLink="/" routerLinkActive="active"><i class="fa fa-plane"></i> Landing Page</button>
        <button class="btn btn-success" (click)="loginComingSoon()"><i class="fa fa-user"></i> Login</button>
    </nav>

</div>

<!-- Remember to Sassify this page when we implement SCSS -->