/* Master Styles */
body { 
  font-family: Arial, Helvetica, sans-serif;
  width: 1000px;
  border: 1px solid #aaa;
  border-radius: 10px;
  padding: 10px;
  margin: 5px auto 5px auto !important;
  box-shadow: 0px 5px 10px #bbb /* h, v, blur, spread, color */
}
a, button {
  cursor: pointer;
  cursor: hand;
}


/* Custom Bootstrap Tab styling */
.nav-link { color: #dd8800; }

/* Custom Angular Validation Styling */
.control-label { text-align: right; }
.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}
.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}

